body{
    background-color: #000000a8;
}

.container{
    margin: auto;
    max-width: 600px;
    font-size: 1.3em;
    color: white;
}

.done{
    text-decoration: double line-through;
    color: rgb(121, 121, 121);
}

h1{
    color: white;
}

ul{
    margin: auto;
    list-style: none;
}

button{
    margin-right: 2px;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    word-break: break-all; /* word-break: break-all is to break the long words */
}

.card{
    box-shadow: 0 2px 7px 1px rgba(255, 255, 255, 0.521);
    background-color: #000000a8;
    border-radius: 10px;
}

.header{
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.btn-modal{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 1.5em;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-modal{
    width: 300px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    border: solid 1px black;
    padding: 20px;
    box-shadow: 0 2px 25px 5px rgba(1, 15, 41, 0.829) inset;
    box-shadow: 0 2px 5px 3px white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hide{
    display: none;
}